@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$textColor2;
        content: '';
        opacity: .6;
    }

    &__span {
        color: rgb(72, 119, 190);
        text-decoration:underline;
    }

    &__text {
        margin: 64px 0;
        font-size: 40px;
        text-align: center;
        line-height: 56px;
        font-weight: 800;
    }

    &__title {
        margin: 0 auto;
        display: block;
        height: 80px;
        text-align: center;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__text {
            line-height: 24px;
            margin: 24px 0;
            font-size: 22px;

        }
    }
}